@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: 'Varela Round', sans-serif;
    background: black url('./assets/Pokemon_logo_PNG3.png') no-repeat top center fixed;
    background-size: 1200px auto;

}

.card-collection {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 16px;
}

